.about {
  max-width: 260px;
  margin: 34px 30px 61px;
  padding: 0;
}

.about__list {
  @include clear-list;
}

.abot__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.about__item {
  padding-top: 86px;
  line-height: 20px;
  font-size: 17px;
  font-weight: 700;
}
