.about {
  max-width: 260px;
  margin: 26px 29px 30px;
}

.about__list {
  @include clear-list;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.about__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 0;
}

.about__item {
  line-height: 20px;
  font-size: 17px;
  font-weight: 700;
  height: 94px;
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__decoration {
  &--eco {
    margin-left: 9px;
  }

  &--like {
    margin-top: 5px;
    margin-left: 8px;
  }

  &--handmade {
    margin-top: 2px;
    margin-left: 3px;
  }

  &--russian {
    margin-top: 3px;
    margin-left: -7px;
  }

  &--pack {
    margin-left: 2px;
  }
}

.about__icon {
  fill: $emphasis-color;
}

svg path {
  fill: inherit;
}

@media (min-width: $tablet-width) {
  .about {
    max-width: $tablet-width;
    margin: 53px 50px 82px;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
    margin-left: -4px;
  }

  .about__list {
    height: 458px;
  }

  .about__item {
    min-width: 330px;
    font-size: 20px;
    line-height: 22px;
    margin-top: 52px;
  }
}

@media (min-width: $desktop-width) {
  .about {
    max-width: $desktop-width;
    margin: 63px 50px 90px 225px;
  }

  .about__title {
    font-size: 53px;
    line-height: 57px;
  }

  .about__list {
    height: 455px;
    width: 690px;
  }

  .about__item {
    min-width: 350px;
    margin-top: 50px;
  }
}
