.category-list {
  @include clear-list;
  display: flex;
  flex-direction: column;
}

.category-list__item {
  background-color: $emphasis-color;
  padding: 30px;
  padding-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--interior {
    padding-top: 18px;
  }

  &--toys {
    padding-top: 20px;
    background-color: $emphasis-color-darker;
  }

  &::after {
    content: "";
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &--interior::after {
    position: relative;
    top: 5px;
    right: -13px;
    width: 60px;
    height: 62px;
    background-image: url("../img/icon-interior.svg");
    opacity: 0.5;
  }

  &--toys::after {
    position: relative;
    top: 2px;
    right: -3px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-toy.svg");
    opacity: 0.5;
  }
}

.category-list__item-link {
  margin: 0;
  width: 110px;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .category-list {
    margin: 0 50px;
    flex-direction: row;
  }

  .category-list__item {
    flex-grow: 1;
    padding: 27px 35px 30px;

    &--interior::after {
      top: 3px;
      right: -18px;
    }

    &--toys::after {
      top: 4px;
      right: 0;
    }
  }

  .category-list__item-link {
    font-size: 20px;
    line-height: 30px;
  }
}
