.contacts__wrap {
  margin: 44px 30px;
}

.contacts__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts__list {
  font-size: 15px;
  line-height: 30px;
  color: $text-color;
}

.contacts__item {
  vertical-align: top;
}

.contacts__type {
  padding: 0;
  width: 78px;
}

.contacts__e-mail {
  color: $text-color;
  border-bottom: 1px solid $emphasis-color;
}

.contacts__map {
  background-image: url("../../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/map-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.contacts__write-us {
  margin: 39px 30px;
}

@media (min-width: $tablet-width) {
  .contacts__wrap {
    position: relative;
    margin: 70px 45px 50px;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;

    &::after {
      position: absolute;
      top: -15px;
      right: 5px;

      width: 47px;
      height: 81px;

      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: 0 0;

      content: "";
    }
  }

  .contacts__list tbody {
    width: 670px;
    display: flex;
    justify-content: space-between;
  }

  .contacts__item {
    font-size: 17px;
    width: 335px;
  }

  .contacts__map {
    width: 100%;

    background-image: url("../../img/map-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/map-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  .contacts__write-us {
    width: 226px;
    margin: 53px auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    height: 460px;
    margin: 71px 50px 105px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
  }

  .contacts__wrap {
    width: 335px;
    margin-top: 71px;
    margin-bottom: 77px;
    margin-right: 0;
    margin-left: 176px;
  }

  .contacts__list {
    margin-top: 24px;
  }

  .contacts__list tbody {
    width: 335px;
    flex-direction: column;
  }

  .contacts__item {
    margin-top: 20px;
  }

  .contacts__title {
    margin: 0;
    font-size: 53px;
    line-height: 57px;

    &::after {
      top: -5px;
      left: -105px;
    }
  }

  .contacts__map {
    order: 3;
    width: 525px;

    background-image: url("../../img/map-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/map-desktop@2x.jpg");
      background-size: 525px auto;
    }
  }

  .contacts__write-us {
    margin: 0;
    margin-left: 176px;
  }
}
