.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  padding-right: 30px;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
}

.copyright__link {
  display: block;
  width: 28px;
  height: 35px;
}

.copyright__logo {
  fill: $emphasis-color;
}

@media (min-width: $tablet-width) {
  .copyright {
    justify-content: flex-end;
  }
}
