.delivery-note {
  display: none;
}

@media (min-width: $tablet-width) {
  .delivery-note {
    display: block;
    order: 5;
    width: 250px;
    margin : 0;
    padding-top: 20px;
    padding-right: 52px;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
    color: $text-color;
  }
}
