.delivery-note {
  display: none;
}

@media (min-width: $tablet-width) {
    .delivery-note {
    padding-right: 50px;
    padding-top: 20px;
    margin: 0;
    display: block;
    position: relative;
    font-size: 15px;
    line-height: 24px;
    text-align: right;
    color: $text-color;
  }
}
