.info {
  min-height: 300px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: -127px -18px;
}

.info__title {
  margin: 0 auto;
  width: 244px;
  padding-top: 70px;
  padding-bottom: 123px;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .info {
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: -190px 0;

    @media (min-resolution: $dpi-retina), (min-resolution: $dppx-retina) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }
  }

  .info__title {
    width: 500px;
    padding-top: 155px;
    padding-bottom: 372px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .info {
    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: 0 0;

    @media (min-resolution: $dpi-retina), (min-resolution: $dppx-retina) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .info__title {
    width: 620px;
    padding-top: 157px;
    padding-bottom: 356px;
    font-size: 53px;
    line-height: 57px;
  }
}
