.info {
  min-height: 300px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: -127px -18px;
}

.info__title {
  margin: 0 auto;
  width: 244px;
  padding-top: 70px;
  padding-bottom: 120px;

  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}
