.main-catalog__list {
  @include clear-list;
}

.main-catalog__title {
  padding: 72px 0 75px;
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  background-color: $footer-color;
}

@media (min-width: $tablet-width) {
  .main-catalog {
    margin-top: -44px;
  }

  .main-catalog__title {
    padding-top: 95px;
    padding-bottom: 78px;
    margin-top: -44px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop-width) {
  .main-catalog__list {
    padding: 51px;
    display: flex;
    justify-content: space-between;
  }

  .main-catalog__title {
    font-size: 53px;
    line-height: 57px;
    padding-bottom: 104px;
  }
}
