.main-header {
  width: 320px;
  position: relative;
}

.main-header__nav-toggler {
  position: absolute;
  top: 12px;
  right: 31px;
  padding: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-color: $bg-color;
  border: none;
  font-size: 0;
  
  &--nojs {
    display: none;
  }

  &--close {
    background-image: url("../img/icon-menu-open.svg");
  }

  &--open {
    background-image: url("../img/icon-menu-close.svg");
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    width: $tablet-width;
  }

  .main-header__nav-toggler {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    width: $desktop-width;
  }
}
