.main-header {
  width: 320px;
}

.main-header__nav-toggler {
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: $tablet-width) {
  .main-header {
    width: $tablet-width;
  }

  .main-header__nav-toggler {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    width: $desktop-width;
  }
}
