.main-content {
  width: 320px;
}

@media (min-width: $tablet-width) {
  .main-content {
    width: $tablet-width;
    margin-top: -44px;
    border-top: 1px solid $border-color;
  }
}

@media (min-width: $desktop-width) {
  .main-content {
    width: $desktop-width;
  }
}
