.order {
  margin: 26px 30px 56px;
}

.order__description {
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  color: $text-color;
}

.order__form {
  margin-top: 24px;
}

@media (min-width: $tablet-width) {
  .order {
    margin: 50px 0 50px;
  }

  .order__description {
    margin: 0;
    padding: 0 50px;
    font-size: 17px;
    line-height: 30px;
    color: $text-color;
  }

  .order__form {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .order__description {
    width: 680px;
    margin-left: 175px;
  }
}
