.process {
  margin: 30px;
  width: 260px;
  border: 1px solid $border-color;
}

.process__title-wrap {
  padding-top: 29px;
  padding-left: 33px;
  padding-bottom: 26px;
  display: flex;
  align-items: center;
}

.process__title {
  margin: 0;
  padding-left: 25px;
  font-size: 17px;
  line-height: 24px;
}

.process__video {
  position: relative;
}

.process__wrap {
  margin: 34px;
}

.process__description {
  margin: 0;
  margin-bottom: 29px;
  font-size: 13px;
  line-height: 24px;
  color: $text-color;
}

.process__order {
  width: 100%;
  background-color: $bg-color;
}

.process__icon {
  fill: $emphasis-color;
}

@media (min-width: $tablet-width) {
  .process {
    margin: 50px;
    margin-bottom: 63px;
    width: 668px;
    display: flex;
    flex-direction: column;
  }

  .process__video {
    order: -1;
  }

  .process__image {
    width: 668px;
    height: 455px;
  }

  .process__title-wrap {
    padding: 39px 42px 0;
  }

  .process__title {
    padding-left: 33px;
    font-size: 20px;
  }

  .process__wrap {
    margin: 25px 42px 43px;
  }

  .process__description {
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .process {
    width: 1049px;
    max-height: 455px;
    margin: 10px 50px 105px;
    flex-wrap: wrap;
  }

  .process__video,
  .process__image {
    width: 682px;
  }

  .process__title-wrap,
  .process__wrap {
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .process__title-wrap {
    padding: 0;
    margin: 47px 57px 30px 80px;
  }

  .process__icon {
    margin-bottom: 21px;
  }

  .process__title {
    padding-left: 0;
  }

  .process__wrap {
    margin: 0 57px 60px 80px;
  }

  .process__description {
    margin-bottom: 45px;
  }
}
