.product-card {
  margin: 30px;
}

.product-card__description {
  padding: 26px 28px 0 28px;
  border: 1px solid $border-color;
}

.product-card__name {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.product-card__short-specifications {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 19px;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: $text-color;
}

.product-card__price-wrap {
  padding: 21px 0 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $border-color;
}

.product-card__price {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

.product-card__cart {
  display: block;
  width: 20px;
  height: 19px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .product-card {
    margin: 55px 51px;
    width: 669px;
    height: 334px;
    display: flex;
  }

  .product-card__photo {
    width: 334px;
    height: 334px;
    flex-grow: 1;
  }

  .product-card__description {
    padding: 26px 26px 0;
    width: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product-card__name {
    max-width: 240px;
    font-size: 20px;
  }

  .product-card__short-specifications {
    font-size: 15px;
  }

  .product-card__price {
    font-size: 17px;
  }

  .product-card__price-wrap {
    padding: 23px 5px 25px;
  }

  .product-card__spacer {
    flex-grow: 1;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 316px;
    height: 659px;
    margin: 0;
    flex-direction: column;
  }

  .product-card__photo {
    width: 316px;
    height: 462px;
  }

  .product-card__description {
    padding-top: 24px;
    width: 262px;
    height: 165px;
  }

  .product-card__short-specifications {
    padding-top: 4px;
    padding-bottom: 10px;
  }

  .product-card__price-wrap {
    padding: 26px 4px 22px 0;
  }
}
