.reviews {
  margin: 58px 30px 45px;
}

.reviews__title {
  margin: 0;
  font-size: 25px;
  line-height: 20px;
  font-weight: 700;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 27px 0;
  font-size: 15px;
  line-height: 30px;
  color: $text-color;
}

.reviews__author {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}

.reviews__author-contacts {
  margin: 0 0 36px;
  font-size: 17px;
  line-height: 30px;
  color: $text-color;
}

.reviews__skip-buttons {
  display: flex;
  margin-bottom: 35px;
  height: 52px;
  background-color: $border-color;
}

.reviews__skip-button {
  flex-grow: 1;
  padding: 0;
  margin: 1px;
  border: 0;
  background-color: $bg-color;

  &--left {
    background-image: url("../img/icon-left-arrow.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--right {
    background-image: url("../img/icon-right-arrow.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.reviews__bg-image {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    height: 285px;
    position: relative;
    margin: 0;
    margin-bottom: 70px;
    padding: 77px 50px;
  }

  .reviews__bg-image {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .reviews__title {
    margin: 0;
    margin-left: -5px;
    font-size: 43px;
    line-height: 50px;
  }

  .reviews__text {
    font-size: 17px;
    margin-top: 48px;
    margin-bottom: 59px;
  }

  .reviews__author {
    font-size: 18px;
  }

  .reviews__skip-buttons {
    width: 175px;
    position: absolute;
    bottom: 0;
    right: 50px;
    background-color: transparent;
  }

  .reviews__skip-button {
    margin: 0;
    background-color: transparent;
  }

  .reviews__feedback-button {
    width: 171px;
    position: absolute;
    top: 79px;
    right: 50px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-left: 225px;
    padding-top: 80px;
    margin-bottom: 80px;
  }

  .reviews__title {
    margin-top: -8px;
    margin-left: -3px;
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__text {
    width: 770px;
    margin-bottom: 39px;
  }

  .reviews__bg-image {
    left: 50px;
  }

  .reviews__skip-buttons {
    bottom: 48px;
  }
}
