.weekly {
  max-width: 260px;
  margin: 27px 30px 36px;
  padding: 0;
}

.weekly__name {
  margin-bottom: 6px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.weekly__title {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $emphasis-color;
  text-transform: uppercase;
}

.weekly__description-wrap {
  color: $text-color;
}

.weekly__description {
  margin-top: 23px;
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.weekly__specifications {
  margin-bottom: 29px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.weekly__price {
  margin: 0;
  padding: 25px 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.weekly__order-button {
  width: 256px;
}

@media (min-width: $tablet-width) {
  .weekly {
    max-width: $tablet-width;
    margin: 20px 47px 49px;
  }

  .weekly__title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .weekly__name {
    margin: 0;
    font-size: 43px;
    line-height: 50px;
  }

  .weekly__title {
    width: 75px;
    margin-top: 8px;
    margin-right: 28px;
    text-align: center;
    line-height: 17px;
  }

  .weekly__description-wrap {
    width: 292px;
    height: 411px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .weekly__description {
    order: -4;
    margin: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .weekly__specifications {
    order: -3;
    margin: 0;
  }

  .weekly__image {
    margin-top: 7px;
    margin-left: 44px;
    width: 333px;
    height: 403px;
  }

  .weekly__price {
    order: -2;
    padding: 0;
    margin-top: 20px;
    font-size: 20px;
  }

  .weekly__order-button {
    order: -1;
    width: 288px;
  }
}

@media (min-width: $desktop-width) {
  .weekly {
    margin-top: 89px;
    margin-bottom: 69px;
  }

  .weekly__title-wrap {
    justify-content: flex-start;
  }

  .weekly__name {
    order: 2;
    z-index: 5;
    font-size: 53px;
    line-height: 57px;
  }

  .weekly__title {
    margin-right: 53px;
    margin-left: 47px;
  }

  .weekly__description-wrap {
    height: 478px;
    margin-left: 178px;
    margin-top: 48px;
  }

  .weekly__description {
    margin-bottom: 18px;
  }

  .weekly__specifications {
    margin-bottom: 74px;
  }

  .weekly__image {
    width: 525px;
    height: 636px;
    padding: 0;
    margin-left: 58px;
    margin-top: -158px;
  }

  .weekly__price {
    margin-top: 0;
  }
}
