body {
  margin: 0;
  padding: 0;

  font-size: 17px;
  line-height: 24px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: $font-color;
  background-color: $bg-color;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  display: block;
}

// с классовыми селекторами не всегда работает
symbol path {
  fill: inherit;
}

.visually-hidden {
  display: none;
}

.center-wrap {
  max-width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .center-wrap {
    max-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .center-wrap {
    max-width: $desktop-width;
  }
}
